package ${package_name}.service.impl;

import ${package_name}.common.annotation.BaseService;
import ${package_name}.common.base.BaseServiceImpl;
import ${package_name}.dao.mapper.${model}Mapper;
import ${package_name}.dao.entity.${model};
import ${package_name}.dao.entity.${model}Example;
import ${package_name}.service.${model}Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
 * ${model}Service实现
 *
 * @author thinkam
 * @date ${ctime}
 */
@Service
@Transactional(rollbackFor = Exception.class)
@BaseService
public class ${model}ServiceImpl extends BaseServiceImpl<${model}Mapper, ${model}, ${model}Example> implements ${model}Service {

    private static Logger logger = LoggerFactory.getLogger(${model}ServiceImpl.class);

    @Autowired
    ${model}Mapper ${mapper}Mapper;

}