<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.thinkam.thinkmall.dao.AdministratorDAO">
    <resultMap id="BaseResultMap" type="priv.thinkam.thinkmall.model.Administrator">
        <id column="administrator_id" jdbcType="BIGINT" property="administratorId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="CHAR" property="password"/>
        <result column="salt" jdbcType="CHAR" property="salt"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        administrator_id, username, password, salt, gmt_create, gmt_modified
    </sql>

    <select id="listByUsername" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM administrator
        WHERE username = #{username}
    </select>

    <insert id="save" parameterType="Administrator">
        <selectKey keyProperty="administratorId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO administrator (username, password, salt, gmt_create, gmt_modified) VALUES (
        #{username}, #{password}, #{salt}, #{createTime}, #{modifiedTime}
        )
    </insert>

    <delete id="removeAll">
        DELETE FROM administrator;
    </delete>
</mapper>